@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;400&display=swap");

$font-family-title: "Bebas Neue", cursive;
$font-family-text: "Montserrat", sans-serif;

$white: #fff;
$black: #231f20;
$yellow: #f4bd63;
$red: #b21b29;

$theme-colors: (
  "primary": #f4bd63, // posa-hi el codi de color que prefereixis
 );

$progress-bar-bg: $yellow;
$link-hover-color: $red; //overwrite default bootstrap blue color of hover links

$sixSpace: 6vh;


